body{
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin: 30px auto;
    padding: 4px;


}

@media screen and (max-width: 700px)  {
    body{
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    .container {
        max-width: 700px;
        margin: 10px auto;
        padding: 4px;
    }

    
}
